.formContainer label {
  text-transform: capitalize;
  width: 100% !important;
}

.container form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.modalContainer form {
  grid-template-columns: repeat(4, 1fr) !important;
}

.toggleSwitch {
  width: 60px;
}

/* @media (max-width: 1000px) {
  .container form {
    grid-template-columns: repeat(3, 1fr);
  }
} */
@media (max-width: 800px) {
  .container form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .container form {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .submit {
    margin-top: 10px !important;
  }
  .clientDocumentForm {
    width: 100% !important;
  }
}

.cancel {
  grid-column: 1;
  border: 1px solid #d9d9d9 !important;
  color: #4b4b5a !important;
  width: 100%;
  height: 100%;
}

.errorMessage {
  color: #f05455;
  font-size: 0.8em;
  padding-top: 5px;
  padding-left: 5px;
  opacity: 0.9;
}

.textBoxRte {
  overflow-y: scroll;
  height: 100px;
}

.cancel:hover {
  color: #fff !important;
}

.submit {
  /* margin-top: 10px; */
}

.submit:focus,
.cancel:focus {
  box-shadow: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler h5 {
  margin-bottom: 0;
  margin-right: 10px;
}

.gstSave {
  height: 38px;
  margin-top: 25px;
}

.addressForm {
  grid-template-columns: repeat(2, 1fr) !important;
}

.hide {
  display: none;
}

.select:focus {
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.date {
  text-transform: uppercase;
}

.ButtonWrap__root___1EO_R {
  z-index: 0;
}

.rte {
  position: relative;
  z-index: 0;
}

.clientDocumentForm {
  grid-template-columns: repeat(2, 1fr) !important;
  width: 50%;
}

.multiSkill {
  grid-column: span 2;
  display: flex;
  align-items: center;
}

.multiSkill > div {
  margin-right: 2%;
}

.skillPillDiv {
  border: 1px solid hsl(0, 0%, 80%);
  flex-wrap: wrap;
  grid-column: span 2;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
}

.datalist::-webkit-calendar-picker-indicator {
  display: none;
}
