.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #4b4b5a;
  font-size: 21px;
  font-weight: 700;
  text-transform: capitalize;
}

.button {
  text-transform: capitalize;
}
.button:focus,
.button:active {
  box-shadow: none !important;
}

.container h1 {
  margin-bottom: 0;
}
